@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-image: url('./images/antonio-gabola-NRF1IQrwwPs-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
    margin-top: 3rem;
    text-shadow: 2px 0 #000;
}

.big-text {
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 17rem;
}

.countdown-element p {
    text-shadow: 2px 0 #000;
}

.countdown-element span {
    font-size: 1.3rem;
    text-shadow: 2px 0 #000;
}